
img {
  background-color: #e4f9f5;
}
.dp {
  border-radius: 100% ;
  height: 205px ;
}
body {
  color : #40514E ;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p {
    line-height: 2;
}
h1 {
  color: #116979;
  margin: 50px auto 0 auto ;
  font-size: 99px ; ;
  font-family: 'Sacramento', cursive;
}
hr {
  border-style: none ;
  border-top-style: dotted ;
  border-color: grey ;
  border-width: 5px ;
  width: 5% ;
}

h2 {
  color: #18b0b0;
  font-family: 'Montserrat', sans-serif;
  font-size: 29px ;
  font-weight: normal;
}

h3 {
  color: #b80d57 ;
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 200px;
}

.middle {
  margin: 100px 0 ;
}
a {
font-family: 'Montserrat', sans-serif;
  color :#235952;
  margin: 10px 20px 10px 20px ;
  text-decoration: none;
}
a:hover {
  color: black;
}

.bottom {
  background-color: #66bfbf ;
  padding: 50px 0 20px ;
}

.pro {
  text-decoration-line: underline;
}
.intro{
  width: 30% ;
  margin: auto;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill1 {
  width: 25% ;
  border-radius: 100% ;
  float: left;
  margin-right: 30px ;
}
.skill2 {
  width: 25% ;
  border-radius: 100% ;
  float: right;
  margin-left: 30px ;
}
.skill-row {
  width : 50% ;
  margin: 100px auto 100px auto ;
  text-align: left ;
}
.skill-row2 {
  width : 50% ;
  margin: 100px auto 100px auto ;
  text-align: left ;
}
.skill3{
  width: 250px;
  margin: 80px;
  border-radius: 5%;
}
.touch-me{
  width: 70px;
  background-color: #18b0b0;
}


.card-wrapper{
  display: flex;
  
}
.card{
  padding: 100px; ;
  margin: 80px;
  border:wheat;
  width: 200px;
  height: 120px;
  border-radius: 10px;
  background-color:whitesmoke;

}
.card:hover{
  background-color: #18b0b0;
}
#insta{
  border-radius: 27px;
}
@media screen and (max-width: 800px) {
  .left, .card-wrapper, .right,.back{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    display: block;
    image-rendering: auto;
  }
  .bottom-cloud {
    display: none;
  }
}
